@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizespeed;
}

body {
    background: #1a1d21;
    color: white;
}

.min-dvh-screen {
    min-height: 100dvh;
}

.dvh-screen {
    height: 100dvh;
}